@model (List<Clothes> ClothesList, List<ClothesCategory> ClothesCategoryList, int currentPage, int totalPages)
@{
	ViewData["Title"] = "Список позиций";
	var request = ViewContext.HttpContext.Request;
	var returnUrl = request.Path + request.QueryString.ToUriComponent();
	string? category = request.Query["category"];
	string currentCategory = ViewData["currentCategory"] as string ?? "Все";

	bool previousAvailable = Model.currentPage != 1;
	bool nextAvailable = Model.currentPage != Model.totalPages;
}

<div class="container">
	<div class="dropdown col-sm-1 mt-4">
		<!-- categories dropdown -->
		<button class="btn btn-secondary dropdown-toggle" style="min-width: 200px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			@currentCategory
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li style="min-width: 200px">
				<a class="dropdown-item"
				   asp-controller="Product"
				   asp-action="Index"
				   asp-route-category=@null>Все</a>
			</li>
			@foreach (var item in Model.ClothesCategoryList)
			{
				<li style="min-width: 200px"><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category=@item.NormalizedName asp-route-currentCategory=@item.Name>@item.Name</a></li>
			}
		</ul>
	</div> <!-- /categories dropdown -->

	<div class="row offset-2">
		@foreach (var item in Model.ClothesList)
		{
			<div class="col-md-4 mb-4">
				<div class="card">
					<img src="@item.ImagePath" class="card-img-top" style="width: 100%; max-height: 200px; min-height: 200px; object-fit: contain;">
					<div class="card-body">
						<h5 class="card-title">@item.Name</h5>
						<p class="card-text">@item.Description</p>
						<p class="card-text">$@item.Price</p>
						<a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnUrl=@returnUrl class="btn btn-primary">Добавить в корзину</a>
					</div>
				</div>
			</div>
		}
	</div>

	<nav class="col-sm-4 offset-2">
		<ul class="pagination">
			<li class="page-item @(previousAvailable ? "" : "disabled")">
				<a class="page-link" aria-label="Previous"
				   asp-controller="Product"
				   asp-action="Index"
				   asp-route-category=@category
				   asp-route-currentCategory=@currentCategory
				   asp-route-pageNo=@(Model.currentPage-1)>
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			@for (int i = 1; i <= Model.totalPages; ++i)
			{
				<li class="page-item @(Model.currentPage == i ? "active" : "")">
					<a class="page-link"
					   asp-controller="Product"
					   asp-action="Index"
					   asp-route-category=@category
					   asp-route-currentCategory=@currentCategory
					   asp-route-pageNo="@i">@i</a>
				</li>
			}
			<li class="page-item @(nextAvailable ? "" : "disabled")">
				<a class="page-link" aria-label="Next"
				   asp-controller="Product"
				   asp-action="Index"
				   asp-route-category=@category
				   asp-route-currentCategory=@currentCategory
				   asp-route-pageNo=@(Model.currentPage+1)>
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
