@model List<Clothes>

@{
	ViewData["Title"] = "Одежда";
}

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Название</th>
				<th>Описание</th>
				<th>Цена</th>
				<th>Фото</th>
				<th>CategoryId</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Price</td>
					<td><img src=@item.ImagePath /></td>
					<td>@item.CategoryId</td>
				</tr>
			}
		</tbody>
	</table>
</div>

